@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear; 
   /* background-color: #333; */
}

.navbar-brand {
   color:#ff0b0b;
   text-shadow: 0px 0px 20px #FFF;
   font-size: 2rem;
}
.navbar-brand:hover {
   color:#fff;
   text-shadow: 0px 0px 20px #ff0b0b;
   font-size: 2rem;
}

header {
   height: 100px;;
   background: #000000;
}
nav {
   background: #000;
}

header a.nav-link {
   color: #ff0b0b;
   text-shadow: 1px 1px 2px #fff;
   cursor: pointer;
}
header a.nav-link:hover {
   color: #FFF;
   text-decoration: underline;
}

#banner {
   background: #adadad;
   background: url("../img/stranger_things.jpg") no-repeat 50% 50%;
   height: 800px;
   /* background-position: center;
   background-size: cover;
   background-repeat: no-repeat; */
   background-attachment: fixed;
}

#banner {
   padding-top: 0px;
   position: relative;
   display: block;
   text-align: center;
}

#banner h1 {
   font-size: 5rem;
   font-weight: bold;
   color: #fff;
   text-shadow: 0 0 20px #ff0b0b;
   margin-top: 0px;
}
#banner a {
   text-align: center;
   margin: 0 auto;
   background: #ff0b0b;
   border-radius: 50%;
   padding: 10px 20px;
   color: #fff;
   height: 50px;
   width: 50vw;
   border: 1px solid;
}

#banner a:hover {
   text-align: center;
   margin: 0 auto;
   background: #bf0000;
   border-radius: 50%;
   padding: 10px 20px;
   color: #adadad;
   border: 1px solid #000;
}
.mt50 {
   margin-top: 50px;
}
#banner p {
   font-size: 1.2rem;
   color: #FFF;
}

#lancamento .card {
   opacity: 0.3;
}

#lancamento .card:hover {
   transform: scale(1.02);
   opacity: 1;
   cursor: pointer;
}

.card img {
   max-height: 625px;
}
html{
   scroll-behavior: smooth;
}

section#lancamento {
   background: #000000;
   border: 0px solid #FFF;
   padding: 40px 0 60px 0;
   display: block;
}

section#lancamento h2 {
   color: #FFF;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
   text-shadow: 1px 1px 2px #FFF;
}
section#lancamento p {
   color: #FFF;
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   text-shadow: 1px 1px 2px #FFF;
}

section#filmes {
   background: #000000;
   border: 0px solid #FFF;
   padding: 40px 0 60px 0;
   display: block;
}

section#filmes h2 {
   color: #ff0b0b;
   text-align: left;
   font-size: 2rem;
   font-weight: bold;
   text-shadow: 1px 1px 2px #FFF;
}
section#filmes p{
   color: #FFF;
   text-align: left;
   font-size: 1rem;
   font-weight: bold;
   text-shadow: 1px 1px 2px #FFF;
}

section#series {
   background: #000000;
   border: 0px solid #FFF;
   padding: 40px 0 60px 0;
   display: block;
}

section#series h2 {
   color: #ff0b0b;
   text-align: left;
   font-size: 2rem;
   font-weight: bold;
   text-shadow: 1px 1px 2px #FFF;
}
section#series  p {
   color: #FFF;
   text-align: left;
   font-size: 1rem;
   font-weight: bold;
   text-shadow: 1px 1px 2px #FFF;
}

/* .navbar-toggler {
   border: 1px solid #dee2e6;
   color: blue;
} */

a{
   font-size: 30px;
}

h1{
   margin-bottom: 14px;
   color: rgb(255, 11, 11);
}


footer {
	margin: 100px auto 0;
	width: 100%;
	color: #808080;
   background: #adadad;
   padding: 20px 0;
}
footer .social i {
	padding-right: 26px;
	font-size: 28px;
}
.flex {
	display: flex;
	padding-bottom: 80px;
}
footer .info {
	width: 25%;
}
footer .info ul {
	list-style: none;
	display: inline;
	font-size: 13px;
}
footer .info ul li {
	margin-top: 8px;
}